/* GENERAL STYLE */
body {
background-image: linear-gradient(to right,#363237, #2d4262, #73605b, #2d4262, #363237);
color: white;

}



/* HEADER */

header {
    background-image:radial-gradient(#476e61, #73605b, #2d4262);
    text-align:center;
   border-radius: 20px;
   padding: .5px;
   display:flex;
   flex-direction:row;
    justify-content:space-between;
}

div.headText {
    flex:10;
}

header, h1 {
     font-family:'Wallpoet', cursive;
}

header, h3 {
    font-family: 'Special Elite', cursive;
}

img.headImg {
    width:8%;
    border-radius: 25px;
    flex:1;
}



/* BLOG BODY */

section {
    background-image: linear-gradient(to left, #476e61, #73605b, #2d4262, #363237, #2d4262, #73605b, #476e61);
    margin: 30px;
    border-radius: 20px;
}

div.intro {
    font-family: 'Special Elite', cursive;
    font-weight: bold;
    background-color: silver;
    border-radius: 10px;
    color: black;
    padding-left: 25px;
    padding-right: 25px;
    margin:30px;
    padding-top: 2px;
    padding-bottom: 2px;
   
}

div.blogWrap {
    padding-left: 15px;
padding-right: 15px;
padding-bottom: 1px;
}

div.blogpost {
    background-image:linear-gradient(to left,#b0b0b0, #a8bac5, #b0b0b0);
    border-radius: 15px;
    color: black;
    padding-left: 10px;
padding-right: 10px;
padding-top: 2px;
margin:20px;
  
}

p.span { 
font-family: 'Special Elite', cursive;
text-align: left;
padding-left: 45px;
text-decoration: underline;
}

p.post {
    font-family: 'Klee One', cursive;
   
    
}


p.sig {
    font-family: 'Special Elite', cursive;
    font-size: 1.3em;
    font-weight: bold;
    padding-right: 30%;
    text-align:right;
}


div.code {background-color: #b8ccd6;
color: #000;
font-family:monospace;
border: 1px navy dashed;
padding: 10px;
line-height: 1.5em;
width: 60%;
margin: auto;}

span.code {
    color: #AA0000;
font-weight: bold;
width: 60%;
margin: auto;
font-family:monospace;
background-color: #dbdbdb;
border-radius: 3px;
padding: 1px;
}

b {
   font-weight: bold;
}

span.comment {
    color:blueviolet;
}

div.SVGwrap {
    display:flex;
    flex-direction: column;
justify-content: space-evenly;
}

div.SVG {
    flex:1;
    margin: auto;
}

/* FOOTER */

footer {
    background-image:radial-gradient( #2d4262, #73605b, #476e61);
    text-align:center;
   border-radius: 20px;
   padding: .2px;
   display:flex;
   flex-direction:row;
    justify-content:space-evenly;
}

p.foot {
    font-family:'Wallpoet', cursive;
    color: white;
}

p.foot a {
    color: #ffe974;
}

p.foot a:hover {
    color: aqua;
}


